<!-- ======================================================= -->
<!-- COMPORTAMIENTO JAVASCRIPT (Responsivo, Centrado y Temas) -->
<!-- ======================================================= -->
<script src="{{ url_for('static', filename='js/base.js') }}"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
<script src="{{ url_for('static', filename='js/login.js') }}"></script>
<script src="{{ url_for('static', filename='js/register.js') }}"></script>
<script src="{{ url_for('static', filename='js/register-sw.js') }}"></script>